@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400&display=swap');

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
}

/* Container */
.main-container {
  position: relative;
}

.container {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3) 10%, rgba(0,0,0,0.1) 20%);
}

/* Navbar */
.navbar {
  font-family: 'Source Code Pro', monospace;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navbar .active {
  font-weight: normal;
  border-bottom: 1px solid black;
}

.tab {
  margin: 0 30px;
}

.tab:hover {
  font-weight: normal;
  cursor: pointer;
}

/* Content */
.content {
  height: 60vh;
  display: flex;
  justify-content:space-between;
  width: 1200px;
  margin: auto;
}

.description {
  font-family: 'Source Code Pro', monospace;
  width: 30vw;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.tab-content{
  width: 45vw;
  margin-top: calc(20vh - 80px);
  display: flex;
  justify-content:center;
  flex-direction: column;
}

.d-none {
  display: none;
}

.swap-content p, .swap-content h1 {
  margin: 0;
}

.portfolio {
  height: 60vh;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.jabba, .skrumble {
  width: 35vw;
}

.portfolio-carousel {
  width: 35vw;
}

.portfolio-carousel img {
  width: 30vw;
  height: auto;
  object-fit: cover;
}



.skill-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.skill-icon {
  height: 80px;
  margin: 10px;
}

.edu-grid {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.edu-icon {
  width: 70%;
  margin: 10px;
}

.fun-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  justify-items: center;
  align-items: center;
}

.fun-icon {
  width: 60%;
  margin: 10px;
  border-radius: 5px;
}

/* Footer */
.footer {
/*  border-top: 1px solid black;*/
  font-family: 'Source Code Pro', monospace;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5) 2%, rgba(0,0,0,0.8) 5%);
  height: calc(100vh - 60vh - 80px);
  display:flex;
  color: white;
}

.footer-desc {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6vw;
}

.light {
  font-weight: lighter;
}

.contact {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-title {
  margin: 0 0 30px 10px;
  font-size: 24px;
}

.contact-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.contact-card {
  display:flex;
  align-items: center;
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-weight: lighter;
}

.contact-img {
  font-size: 2vw;
  margin: 0 10px;
}

.contact-description p {
  margin: 0;
}

.contact-description h3 {
  margin: 0;
}

/* Photo */
#photo {
  height: calc(60vh + 20px);
  position: absolute;
  top: 20vh;
  left: 28vw;
  border-radius: 5px;
  width: 20vw;
  object-fit: cover;
  border: 1px solid black;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .content {
    width: 700px;
    margin: auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .content {
    width: 500px;
    margin: auto;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  #photo {
    width: 50vw;
  }

  .content {
    flex-direction: column;
    height: auto;
  }

  .footer-desc, .description {
    padding-left: 0;
  }
}
